*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-dnv: #0c70f2;
    --preto-dnc: #303030;
    --cinza-dnc: #c9c9c9;

    --fonte-padrão: 'Inter', sans-serif;
}

body{
    background: linear-gradient(180deg, rgba(12,112,242,0.5) 30%, rgba(12,112,242,0) 35%), #303030;
    /* direção em graus pra onde vai o degradê, primeira cor e sua por centagem, segunda cor e sua por centagem */
    background-repeat: no-repeat;
}

#principal{
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    border-bottom: 1px solid #bababa;
}

#principal button{
    background-color: var(--azul-dnv);
    font-family: var(--fonte-padrão);
    font-weight: 600;
    color: #fff;
    border: none;
    padding: 7px 14px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25); 
    /* horizontal, vertical, desfoque e opacidade */
}

#principal button:hover{
    opacity: 0.8;
    transition: .5s;
}

    #menu{
        display: flex;
        gap: 50px;
    }

    #menu a {
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        font-family: var(--fonte-padrão);
        font-weight: 500;
    }

    #menu a:hover{
        opacity: 0.8;
        transition: .5s;
    }

/*Seção principal do site*/

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 100px 0;
}

    header {
        color: #fff;
        font-family: var(--fonte-padrão);
    }

    header h1 {
        font-size: 80px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    }

    header h2 {
        text-align: center;
        font-weight: 400;
        font-size: 40px;

        margin-bottom: 100px;
    }

    header #invert1 {
        background-color: #000;
        font-weight: 500;
    }

    header #invert2 {
        background-color: #000;
        font-weight: 700;
    }

    /*Formulário*/

    form {
        color: #fff;
        font-family: var(--fonte-padrão);
        font-weight: 500;
        font-size: 30px;
        width: 600px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .form-group input {
        border: none;
        border-radius: 10px;
        height: 40px;
        padding: 0 0 0 10px;
        font-size: 16px;
        font-weight: 200;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .form-group input::placeholder {
        color: rgba(57, 57, 57, 0.5);
    }

    .form-group label {
        margin: 0 0 7px 0;
    }

    .checkbox-itens label {
        font-size: 25px;
        margin: 0;
    }

    .checkbox-itens {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    input[type="checkbox"] {
        transform: scale(1.7);
    }

    input[type="submit"] {
        background-color: rgba(12, 112, 242, 0.9);
        color: #fff;
        font-family: var(--fonte-padrão);
        border: none;
        width: 100%;
        border-radius: 10px;
        height: 56px;
        font-size: 32px;
        cursor: pointer;
        font-weight: 600;
        margin: 90px 0 0 0;
        box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25); 
    }

    input[type="submit"]:hover {
        opacity: 0.8;
        transition: .5s;
    }

/*Footer*/

footer {
    background-color: var(--azul-dnv);
    width: 100%;
    padding: 40px 20px 20px;
}

.linha1 {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.linha1 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha1 h5 {
    text-align: center;
    color: #fff;
    font-family: var(--fonte-padrão);
    font-size: 25px;
    font-weight: 800;
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 5px 10px;
}

.linha1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.linha1 ul li {
    margin: 20px 0 ;
}

.linha1 ul li a {
    color: #fff;
    text-decoration: none;
    font-family: var(--fonte-padrão);
    font-size: 25px;
    font-weight: 600;
}

.linha1 ul li a:hover {
    opacity: 0.8;
    transition: .5s;
}

.linha1 .endereco {
    color: #fff;
    font-family: var(--fonte-padrão);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
}

.linha2 {
    font-family: var(--fonte-padrão);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}

.linha2 a {
    color: #fff;
    text-decoration: none;
}

.linha2 a:hover {
    opacity: 0.8;
    transition: .5s;
}

.linha2  a:first-child {
    border-right: 3px solid #fff;
    padding-right: 5px;
}

@media screen and (max-width: 600px) {
    #principal {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 15px 0;
    }
    #menu {
        flex-direction: column;
        width: 100%;
        gap: 5px;
        text-align: center;
        margin-bottom: 10px;
        margin: 0;
    }
    #principal button {
        width: 100%;
        margin-top: 10px;
    }

    body{
        background: linear-gradient(180deg, rgba(12,112,242,0.5) 20%, rgba(12,112,242,0) 25%), #303030;
        /* direção em graus pra onde vai o degradê, primeira cor e sua por centagem, segunda cor e sua por centagem */
        background-repeat: no-repeat;
    }

    section h1 {
        font-size: 38px;
    }
    section h2 {
        font-size: 16px;
    }

    form {
        width: 90%;
        font-size: 20px;
    }

    .checkbox-itens label {
        font-size: 15px;
    }

    footer .linha1 {
        flex-direction: column;
    }
    
    footer .linha1 ul li a {
        font-size: 16px;
    }

    footer .linha1 .endereco {
        font-size: 14px;
        justify-content: center;
    }

    footer .linha2 a{
        font-size: 15px;
    }
}




    